{% extends 'base.html' %}

{%block titulo%} Bienvenido al inicio {% endblock %}}

{%block contenido%}
  <div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenido a Kitteen wolly</h1>
        <p class="lead">Empezar A navegar En El Sitio.</p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
            <!--<a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">iniciar</a>-->
        </p>
        
    </div>
  </div>
 
 
{% endblock %}